a {
    color: grey;
}

a:hover {
    color: rgb(133, 138, 133);
}

.header {
   padding: 1rem 0 3rem; //top-left&right-bottom
   margin: 0 auto;
}

.logoSize {
    font-size: 35px;
    color: palevioletred;

}

.nav-list {
    display: flex;
    list-style-type: none;
   margin: 0;

}

.nav-item {
    color: #999999;
    font-size:  20px;
    font-weight: 600;
    text-decoration: none;
    margin-right: 1.3rem;
   
}

.nav-item:hover {
   color: palevioletred;
}

.active-nav-item {
    color: #705151;
}
