.container {
    margin: 0 auto;
    max-width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh; //screen height
    background: papayawhip
}
//leaves the container to grow as needed leaving just enough space for the footer
.content {
   flex-grow: 1;
}