
.posts {
    list-style-type: none;
    max-width: 960px;
    
    
}

.post  {
    display: block;
   
    margin-bottom: 10px;
    border: 2px solid rgb(230, 218, 230);
    a:hover {
        background-color: rgb(255, 255, 255);
    }

}
.post h2 {
 color: #f47c48;
 margin-top: 0;
}


@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }